.button {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.button:hover {
  background-color: #0d8ae1;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #2196f3;
}
